@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);

#title {
	font-size: 2em;
	font-family: 'Fredericka the Great', serif;
	color: white;
	text-shadow: 0 2px 4px #000;
	text-align: center;

}

body {

	background-image: url("http://i.imgur.com/aK4G1Nu.jpg");  /* http://i.imgur.com/OcXBtpC.jpg */
	background-color: transparent;
	background-size: 100%;
	text-align: center;
}

nav {
	color: white;
	
}

nav a:link, #details a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

nav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

nav a:active {
	color: #FFFFFF;
	text-decoration: blink;
}

nav {
	
}

.feature img {
	border: 5px white solid;
	
	height:500px;

}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

#media img {
	border: 5px #000000 solid;
	padding:1px;
	background: #FFFFF0;
	display: inherit;

}
#media img:hover {
	border: 5px #FFFFFF solid;
	padding:1px;
	background: black;
}
#small {
	text-align: right;
	size: .08em;
}

#media img {
	position: relative;
    
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
